@import "normalize.css";
@import "./material-icons.css";
@import url("../fonts/Roboto-Regular.ttf");

html {
  font-family: "Roboto", sans-serif;
}

.hidden {
  display: none !important;
}

footer {
  display: flex;
  color: #fff;
  align-items: stretch;
  background: #606060;
  padding: 1rem 2.5rem;
  flex-grow: 1;

  a {
    color: #fff;
  }

  div {
    display: inline-block;
    padding: 1rem 2.5rem;
  }

  @media (max-width: 991px) {
    flex-direction: column;

    div {
      flex-grow: 1;
      padding: 1rem 0;
    }
  }
}
